<h1>H1 = Todos -  Whereas recognition of the inherent dignity </h1>
<h2>H2 = Todos -  Whereas recognition of the inherent dignity </h2>
<h3>H3 = Todos -  Whereas recognition of the inherent dignity </h3>


<button mat-fab extended color="primary" class="btn btn-secondary d-flex justify-content-end">
  <mat-icon>arrow_forward</mat-icon>
  Abrir editoras
</button>

<button mat-fab extended color="primary" class="btn btn-secondary d-flex justify-content-end">
  <mat-icon>arrow_forward</mat-icon>
  Editar editoras
</button>
