<section class="main" [ngClass]="{ hidden: noTodoClass$ | async }">
  <!-- When all status isCompleted can collapse toggle-all -->
   <input type="ckeckbox" id="toggle-all" class="toggle-all"
   [checked]="isAllTodosSelected$ | async"
   (change)="toggleAllTodos($event)"
   />
   <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <!-- Import CommonModule for async  -->
    <app-todo *ngFor="let item of visibleTodos$ | async"
    [todo]="item"
    [isEditing]="editingId === item.id"
    (setEditingId)="setEditingId($event)"
    >
    </app-todo>
  </ul>
</section>
